#red { 
background-color: red;
height: 30%;
border-style:none;
}

#white { 
background-color: white;
height: 30%;
border-style:none;
}
#blue {
background-color: blue;
height: 30%;
border-style:none;
}